{{#if profile.started}}
  <div class="row bread-crumbs valign-wrapper">
    <div class="col l4 center valign">
      {{#if profile.hasPlace}}
        Step 1: Selected Place {{profile.place.name}}
      {{else}}
        Step 1: {{#link-to 'places.search'}}Create/Select Place{{/link-to}}
      {{/if}}
        
    </div>
    <div class="col l4 center valign">

      {{#if profile.hasReport}}
        Step 2: Selected Place: {{profile.report.title}}
      {{else}}
        Step 2: {{#link-to 'reports.search'}}Create/Select Report{{/link-to}}
      {{/if}}
        

    </div>
    <div class="col l4 center valign">
      {{#if profile.completed}}
        Step 3: Profile Finished! {{#link-to 'profile' profile}}View Profile{{/link-to}}
      {{else}}
        Step 3: View your Completed Profile
      {{/if}}
    </div>
  </div>
{{/if}} 