<form {{action "search" on="submit"}}>
  {{input value=model.name placeholder="Name"}}
  {{textarea value=model.description placeholder="Description" class="materialize-textarea"}}
  {{input value=model.tags placeholder="Tags"}}
  <div class="center">
    <a data-target="modal1" class="modal-trigger waves-effect waves-light btn">Add to Profile ></a>
  </div>
</form>
{{!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> --}}

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Are you sure you want to save this place?</h4>
    <p>Press escape to go back.</p>
  </div>
  <div class="modal-footer">
      <a {{action "savePlace" place}} href="#!" class="modal-action modal-close waves-effect waves-light btn">Save Place and Continue</a>
    </div>
</div>
{{yield}}