<div class="container">
  <div class="row">
    <div class="col s12 m12 l6">
      <form {{action "search" on="submit"}}>
        {{input value=q placeholder="search"}}
      </form>
      <div class="collection">
      {{#each model as |place|}}
        {{#link-to 'places.search.show' place class="collection-item truncate"}}
          {{place.name}}: {{place.description}}
        {{/link-to}}
      {{/each}}
      {{totalPagesBinding}}
      {{page-numbers content=pagedContent}}
      </div>
      {{!-- {{#link-to '?page='}} --}}
    </div>
    <div class="col s12 m12 l6">
      {{outlet}}
    </div>
  </div>
</div>