{{header-nav}}

<div class="section grey lighten-4" id="index-splash">
  {{bread-crumbs profile=model}}

  {{!-- <div class="container"> --}}
    {{outlet}}
  {{!-- </div> --}}
</div>

{{footer-section}}
{{!-- {{atatus-implementation}} --}} {{!-- implement in production --}}
