{{header-nav}}

<div class="section grey lighten-4" id="index-splash">
  {{bread-crumbs profile=model}}

  {{!-- <div class="container"> --}}
    {{outlet}}
  {{!-- </div> --}}
</div>
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>About Margins of Error</h4>
    <p>This number represents the margin of error (MOE), a measure of uncertainty, for this estimate.</p>
    <p>Green indicates an MOE that is less than 15% of the estimate, and can be considered RELIABLE (in green text); orange indicates an MOE that is between 15% and 30% of the estimate and can be considered FAIR (in orange text); red indicates an MOE that is 30% or more of the estimate, and should be used with CAUTION (in red text).</p>
    <p>For more detailed information about margins of error in ACS data, see this <a href="http://www.ofm.wa.gov/pop/acs/userguide/ofm_acs_user_guide.pdf">publication</a>.</p>
  </div>
</div>
{{footer-section}}
{{!-- {{atatus-implementation}} --}} {{!-- implement in production --}}
