<div class="slider-height">
  {{map-view zoomControl=false scrollWheelZoom=false offset=true underlying=model.place.underlying geomo=model.place.geometry}}
  <div class="profile-carousel-data">
    <div class="container section">
      <div class="card-panel table-container">
        <p class="grey-text text-darken-3">Featured Profile:</p> 
        <h4>{{model.title}}</h4>
        Some aggregated data for {{model.place.name}}:
        {{random-data data=model.evaluation.data}}
        <div class="row divider">
        </div>
        <p>KnowPlace features dozens of reports on a number of topics for any area of your choosing. To start, search for or draw a place using the options below.</p>
      </div>
    </div>
  </div>
  {{!-- underlying=model.underlying geom=model.geometry --}}
</div>
<div class="container section">
  
  <div class="row">
    <form class="col s12" {{action "search" on="submit"}}>
      <div class="row">
        <div class="input-field col l3 s12">
          {{input value=criteria id="search_crit" type="text" size="50" autofocus="true"}}
          <label for="search_crit">Search for a Neighborhood name</label>
        </div>
        <div class="input-field col l2 s12">
          <a class="waves-effect waves-light btn" {{action "search"}}>Go</a>
        </div>
        <div class="input-field col l2 center-align">
          <h5>OR</h5>
        </div>
        <div class="input-field col l5 center-align">
          {{#link-to 'places.create.new' class="waves-effect waves-light btn"}}Create Place{{/link-to}}
        </div>
      </div>
    </form>
  </div>
  <div class="row divider">
  </div>
  <div class="row center-align">
    <h5>How It Works</h5>
    <p class="flow-text"><i class="material-icons small">layers</i> Place + <i class="material-icons small">format_align_left</i> Report = <i class="material-icons small">assignment_turned_in</i> Profile</p>
    <p>Select a place you want to study, a report on the data you're interested in, and we'll generate the profile.</p>
  </div>
  <div class="row divider">
  </div>
  <div class="row">
    <h5>Browse these resources:</h5>
    <div class="col l4 s12">
      <div class="row">
        <div class="col l12 s12 center-align">
          <i class="material-icons large">layers</i>
        </div>
        <div class="col l12 s12 center-align">
          {{#link-to 'places.search' class="waves-effect waves-light btn"}}Browse Places{{/link-to}}
        </div>
      </div>
    </div>
    <div class="col l4 s12">
      <div class="row">
        <div class="col l12 s12 center-align">
          <i class="material-icons large">format_align_left</i>
        </div>
        <div class="col l12 s12 center-align">
          {{#link-to 'reports.search' class="waves-effect waves-light btn"}}Browse Reports{{/link-to}}
        </div>
      </div>
    </div>
    <div class="col l4 s12">
      <div class="row">
        <div class="col l12 s12 center-align">
          <i class="material-icons large">assignment_turned_in</i>
        </div>
        <div class="col l12 s12 center-align">
          {{#link-to 'profiles' class="waves-effect waves-light btn"}}Browse Profiles{{/link-to}}
        </div>
      </div>
    </div>
  </div>
{{!--   <div class="row">
    <div class="col l12 s12 center-align">
      <div class="ui horizonal divider"></div>
      {{#link-to 'profiles' class="waves-effect waves-light btn"}}Browse Other Profiles{{/link-to}}
    </div>
  </div> --}}
</div>
