<div class="row">
  <div class="col s12 m12 l6">
    <form {{action "search" on="submit"}}>
      {{input value=q placeholder="search"}}
    </form>
    <div class="collection">
    {{#each model as |place|}}
      {{!-- <a class="collection-item"> --}}
      {{#link-to 'places.show' place class="collection-item"}}
        {{place.name}}: {{place.description}}
      {{/link-to}}
      {{!-- </a> --}}
    {{/each}}
    </div>
  </div>
  <div class="col s12 m12 l6">
    {{outlet}}
    <div class="row">
      <div class="col s12">
        <button class="button">Use This Geography</button>
      </div>
    </div>
  </div>
</div>