<div class="row">
  <div class="col s12 m12 l6">
    <form {{action "search" on="submit"}}>
      {{input value=q placeholder="search"}}
      <input {{action 'search' this}} class="button" type="submit" value="Search"/>
    </form>
    <div class="collection">
    {{#each model}}
      {{!-- <a class="collection-item"> --}}
      {{#link-to 'places.show' this class="collection-item"}}
        {{this.name}}: {{this.description}}
      {{/link-to}}
      {{!-- </a> --}}
    {{/each}}
    </div>
  </div>
  <div class="col s12 m12 l6">
    {{outlet}}
  </div>
</div>