{{#if model.completed}}
  <div class="section container">
    <div class="card-panel">
      <div class="place-map-profile">
        {{map-view zoomControl=false scrollWheelZoom=false underlying=model.place.underlying geomo=model.place.geometry offset=true}}
        <div class="profile-carousel-data-view">
          <div class="table-container white">
            <p>
              Focused Profile
            </p>
            <h5>{{model.title}}</h5>
            <p>{{model.report.description}}</p>
          </div>
        </div>
      </div>
      <table class="data-table striped">
        <thead>
          <tr>
              {{!-- <th data-field="buffer"></th> --}}
              <th data-field="id">Data Point</th>
              <th data-field="name">Estimate</th>
          </tr>
        </thead>

        <tbody>
          {{#each model.evaluation.data as |data|}}
            {{!-- Render a data collection --}}
            {{#if data.relationships.data-points}} 
              <tr>
                <td colspan="2">
                  <h5>{{data.attributes.title}}</h5>
                </td>
              </tr>
              {{#each data.relationships.data-points.data as |data_point|}}
                <tr>
                  <td>
                    {{data_point.attributes.title}}
                  </td>
                  <td>
                  {{data-point
                      value=data_point.attributes.value
                      margin=data_point.attributes.margin
                      aggregator=data_point.attributes.aggregator
                      units=data_point.attributes.units}}
                  </td>
                </tr>
                {{/each}}
              
            {{/if}}
          {{/each}}
          </tbody>

          <tbody>
            {{#each model.evaluation.data as |data|}}
              {{#unless data.relationships.data-points}} 
              {{!-- Render a data point      --}}
              <tr>
                <td>
                  {{data.attributes.title}}
                </td>
                <td>
                  {{data-point
                      value=data.attributes.value
                      margin=data.attributes.margin
                      aggregator=data.attributes.aggregator
                      units=data.attributes.units}}
                </td>
              </tr>
            {{/unless}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
{{else}}
  <div class="container section center-align">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
{{/if}}