<div class="section container">
  <h3>Welcome to Your Data Profile</h3>
  <div class="row">
    <div class="col l6 s12">
      <div class="row">
        <div class="col l12 s12 center-align">
          <i class="material-icons large">border_clear</i>
        </div>
        <div class="col l12 s12 center-align place-map">
          {{#if model.place}}
            <p>{{model.place.name}}</p>
            {{map-view geom=model.place.geometry}}
          {{else}}
            {{#link-to 'places.search' class='waves-effect waves-light btn'}}Add a Place{{/link-to}}
          {{/if}}
        </div>
      </div>
    </div>
    <div class="col l6 s12">
      <div class="row">
        <div class="col l12 s12 center-align">
          <i class="material-icons large">layers</i>
        </div>
        <div class="col l12 s12 center-align">
          {{#if model.report}}
            {{model.report.title}}
          {{else}}
            {{#link-to 'reports.search' class='waves-effect waves-light btn'}}Add a Report{{/link-to}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>